.error {
  font-weight: bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}

form label {  display: inline-block;  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}

.mainrow td{
  padding-bottom: 50px;
  padding-left: 30%;
  padding-right: 30%;
}
.names{
 color: #69ffb4;
 font-size: 1.5em;
}
.center *{
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}
